section {
    text-align: center;
    font-size: 2rem;
    
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
}

.fontawesomesvg {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: black;
    display: inline-block;
}